*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html{
    overflow-x: hidden !important;
    width: 100%;
}
.header-sec, .banner-sec, nav, .container, .nav-collapes {
  max-width: 100vw;
  overflow: hidden;
}
:root{
    --primary-color:#FFF700;
    --text-color:#FFFFFF;
    --secondary-color:rgba(255, 255, 0, 0.4);
    --background-color:#000000;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1850px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
    overflow-x: hidden;
}
.over-lay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(10px);
    display: none;
}
.title1{
    font-size: 141px;
    font-weight: bold;
    text-transform: uppercase;
}
/* nav-sec */
.header-sec{
    padding: 26px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
nav,
.nav-collapes,
.nav-collapes>ul{
    display: flex;
    align-items: center;
    margin-left: auto;
    max-width: 100%;
    overflow-x: hidden;
}
.nav-logo{
    max-width: 172px;
}
.nav-logo>a{
    width: 100%;
}
.nav-logo>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-collapes>ul>li{
    padding: 20px 21px;
}
.nav-collapes>ul>li:hover{
    background: var(--primary-color) ;
    border-radius: 110px;
}
.nav-link{
    color: var(--text-color);
}
nav{
    /* background: black; */
}
.drop-down{
    position: relative;
}
.drop-down>ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--secondary-color);
}
.drop-down>ul>li{
    padding: 5px;
}
.drop-down-link{
    color: var(--text-color);
}
.drop-down:hover>ul{
    display: block;
}
.nav-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-result {
  width: 370px;
  padding: 22px 0 22px 45px;
  background: var(--background-color);
  color: var(--text-color);
  border-radius: 74px;
  border: 2px solid var(--primary-color);
  outline: none;
  font-size: 16px;
  /* width: 100%; */
}

.search-result::placeholder {
  color:var(--text-color);
}

.search-icon {
  position: absolute;
  left: 15px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
.search-icon{
    width: 24px;
}
.search-icon>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cart-img{
    width: 64px;
    margin-left: 5px;
}
.cart-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-btn{
    margin-left: 12px;
    max-width: 319px;
    /* flex-shrink: 0; */
}
.login-btn{
    padding: 27px 77px 27px 41px;
    outline: 2px solid var(--primary-color);
    border-radius: 37.5px;
    color: var(--primary-color);
}
.login-btn:hover{
    background: var(--primary-color);
    color: var(--background-color);
}
.close-btn{
    display: none;
    /* margin-left: auto; */
}
/* banner-sec */
.banner-sec{
    background: url(../fitnessimage2/1.\ Hero\ Section.png)no-repeat center/cover;
    min-height: 100vh;
}
.banner-cont>.title1{
    color: var(--primary-color);
}
.banner-cont>.title1>span{
    color: var(--text-color);
}
.banner-cont{
    position:fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.banner-cont>p{
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    text-transform: uppercase;
    background: gray;
    filter: drop-shadow(2px 2px 2px gray);
    max-width: 242px;
    margin: 0 auto;
    text-align: center;
}
.banner-cont>p>span{
    color: var(--primary-color);
    padding: 0 24px;
    position: relative;
}
.banner-sub-header::before{
     content: '';
     width: 6px;
     height: 6px;
     position: absolute;
     background: var(--primary-color);
     top: 36%;
     left: 5%;
}
/* media-queery */
@media screen and (max-width:1600px){
    .nav-collapes>ul>li{
        padding: 10px;
    }
}
@media screen and (max-width:1400px){
    .close-btn{
        margin-left: auto;
        display: inline-block;
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 999;
        transition: all 0.5s linear;
    }
    .close-btn.open::after{
        display: none;
    }
    .close-btn.open>span{
        transform: rotate(45deg) translate(-6px);
    }
    .close-btn.open::before{
        transform: rotate(-45deg) translate(-6px);
    }
    .close-btn>span{
        height: 2px;
        width: 30px;
        background: var(--background-color);
        top: 14px;
        position: absolute;
        transition: all 0.5s linear;
    }
    .nav-collapes{
        /* display: none; */
    }
    .close-btn::after{
        content: '';
        height: 2px;
        width: 30px;
        background: var(--background-color);
        position: absolute;
        bottom: 3px;
        left: 0;
        transition: all 0.5s linear;
        z-index: 99;
    }
    .close-btn::before{
        content: '';
        height: 2px;
        width: 30px;
        background: var(--background-color);
        position: absolute;
        top: 3px;
        left: 0;
        transition: all 0.5s linear;
    }
    .nav-collapes{
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        height: 100vh;
        width: 60%;
        background: var(--primary-color);
        flex-direction: column;
        transition: all 0.5s linear;
        padding-top: 100px;
    }
    .nav-collapes>ul{
        flex-direction: column;
        margin: 0;
    }
    .nav-collapes>ul>li{
        margin: 10px 0;
    }
    .over-lay.active{
        display: block;
    }
}