@font-face {
    font-family: "akira";
    src: url(../font/Akira\ Expanded\ Demo.otf);
}
@font-face {
    font-family: "clash-display";
    src: url(../font/clash-display.css);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html{
    overflow-x: hidden;
    
}
:root{
    --primary-color:yellow;
    --secondary-color:#000000;
    --text-color:#FFFFFF;
    --slider-color:#1E1E1E;
    --card-text-color:gray;
    --btn-color:#FFF700;
    --background-color:#ffffff29;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.title2{
    font-size: 27px;
    font-weight: bold;
    font-family: "akira", sans-serif;
}
.title3{
    font-size: 48px;
    font-weight: 500;
}
.title4{
    font-size: 43px;
    font-weight: bold;
}
/* .banner-row{
    position: relative;
}
.banner-col{
    position: absolute;
    bottom: 0;
} */
.chosse-col{
    margin: 0 auto;
}
.container{
    max-width: 1850px;
    padding: 0 15px;
    margin: 0 auto !important;
}
/* nav-sec */
.header-sec{
    padding: 60px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.nav-logo{
    width: 172px;
    /* margin-left: 12px; */
}
.navbar-nav{
    background: var(--background-color);
    border-radius: 56px;
    margin-left: 12px;
    max-width: 1305px;
    align-items: center;
}
.nav-logo>a{
    width: 100%;
}
.nav-logo>a>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-link{
    padding: 0 !important;
}
.nav-item{
    padding: 20px 21px;
}
.nav-item:hover{
    background: var(--primary-color);
    border-radius: 110px;
}
.search-result{
    padding: 22px 100px 22px 45px;
    border: none !important;
    outline: none !important;
    border-radius: 74px;
    background: var(--secondary-color);
}
.d-flex{
    position: relative;
}
.search-img{
 width: 24px;
 position: absolute;
 top:20px;
 left: 21px;
}
.search-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cart-img{
    width: 64px;
    margin: 0 7px 0 5px;
}
.cart-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.login-btn{
    padding: 27px 57px 27px 41px;
    border-radius: 37.5px;
    outline: 2px solid var(--primary-color);
}
.offcanvas{
    flex-direction: row;
}
.title1{
    font-size: 141px;
    font-weight: bolder;
    font-family: "akira", sans-serif;
}
/* banner-sec */

.banner-sec{
    background: url(../fitnessimg/WhatsApp\ Image\ 2025-10-17\ at\ 15.16.39.jpeg) no-repeat center/cover;
    min-height: 100vh; 
}
.banner-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  overflow: hidden;
}
.banner-header>.title1{
    color: var(--text-color);
    max-width: 550px;
    
}
.visit-btn{
    font-size: 33px;
    font-weight: 500;
    color: var(--text-color);
}
.visit-icon{
    width: 24px;
    margin-left: auto !important;
    height: 27px;
    margin: 0;
}
.visit-icon>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.banner-btn{
    max-width: 317px;
    border-bottom: 2px solid var(--text-color);
    display: flex;
    align-items: center;
}
.banner-header>p{
    font-size: 33px;
    color: var(--text-color);
    font-weight: 500;
    border-bottom: 1px solid var(--text-color);
    max-width: 317px ;
    padding-bottom: 10px;
    margin-top: 100px;
}
.banner-header>.title1>span{
    color: var(--primary-color);
}
.banner-cont>p{
    color: var(--text-color);
    font-size: 27px;
    font-weight: 500;
}
.sub-para{
    color: var(--text-color);
    max-width: 300px;
    font-size: 27px;
    font-weight: 500;
}
.sub-para>span{
    color: var(--primary-color);
}
.banner-img{
    width: 98px;
    display: flex;
    position: relative;
    margin: 40px 0;
}
.banner-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sub-img{
    width: 98px;
    position: absolute;
    right: -70px;
}
.sub-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sub-banner-img{
     width: 98px;
    position: absolute;
    right: -140px;
}
.sub-banner-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sub-fit-img{
    width: 98px;
    position: absolute;
    right: -210px;
}
.sub-fit-img>img{
     width: 100%;
    height: 100%;
    object-fit: contain;
}
.scroll{
    font-size: 33px;
    font-weight: 500;
    color: var(--text-color);
    border-left: 1px solid var(--text-color);
    margin-top: 40px;
    padding-left: 16.5px;
}
/* slider-sec */
.slider-sec{
    background: var(--slider-color);
    padding: 26px 0;
}
.swiper {
  width: 100%;
  height: 370px;
  overflow: visible;
}
.swiper-slide{
    width: 592px !important;
}
.slider-img-last{
    width: 485.66px !important;
}
.slider-img-last>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.slider-card{
    height: 332px !important;
      /* position: relative; */
      width: 592px !important;
      border: 1px solid var(--btn-color);
      background: url(../fitnessimg/Frame\ 229\ \(1\).png)no-repeat center/cover;
      height: 332px;
}
.second-slider-card{
    background: url(../fitnessimg/sliderimg.png)no-repeat center/cover;
    height: 332px !important;
      /* position: relative; */
      width: 592px !important;
      border: 1px solid var(--btn-color);
}
.last-slider-card{
    background: url(../fitnessimg/sliderimg3.png)no-repeat center/cover;
}
.slider-card-title{
    position: absolute;
    top: 15%;
    right: 30%;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--text-color);
}
.slider-last-title{
    position: absolute;
    right: 45%;
}
.second-card-title{
    position: absolute;
    right: 35%;
}
.title-img{
    width: 69px;
}
.title-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider-card-img{
    width: 196.06px;
    position: absolute;
    top: -42px;
    right: 20px;
}
.slider-card-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* gym-sec */
.gym-img{
    max-width: 825px;
    margin-top: 167px;
}
.gym-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.gym-header>.title2{
    text-align: left;
    color: var(--text-color);
}
.gym-sec{
    background: var(--secondary-color);
    padding: 80px 0;
}
.gym-sub-header>.title3{
    max-width: 860px;
    color: var(--text-color);
}
.gym-cont-header{
    max-width: 825px;
    font-size: 35px;
    font-weight: 500;
    color: var(--text-color);
    margin: 80px 0 30px;
}

.gym-para>p{
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 30px;
}
.gym-para-img{
    width: 99px;
}
.gym-para-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.call-para{
    font-size: 31px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 24px;
    width: 100%;
}
.call-para>span{
    color: var(--primary-color);
}
.call-cont{
    display: flex;
}
/* services-sec */
.services-sec{
    background: var(--secondary-color);
    padding: 80px 0;
}
.services-traning{
    font-size: 45px;
    color: var(--text-color);
    padding: 50px 0;
    text-align: left;
    border-bottom: 1px solid var(--text-color);
}
.services-header>.title2{
    font-size: 31px;
    color: var(--text-color);
    text-align: left;
}
/* About-sec */
.about-sec{
     background: url(../fitnessimg/05..png)no-repeat center/cover;
    min-height: 100vh;
    padding: 82px 0;
}
.about-header>.title2{
    color: var(--text-color);
    max-width: 356px;
}

.about-img{
    max-width: 848px;
    margin-top: 169px;
}
.about-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.about-sub-header{
    font-size: 35px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 82px;
}
.card{
    margin-bottom: 24px;
    background: rgba(255, 255, 0, 0.4);
}
.card-title{
    color: var(--text-color) !important;
}
.card-text{
    color: var(--text-color) !important;
}
/* coaches-sec */
.coaches-sec{
   background: var(--secondary-color);
    padding: 26px 0;
}
.coaches-header>.title2{
    color: var(--text-color);
}
.coaches-sub-header>.title3{
    margin-bottom: 42px;
    color: var(--text-color);
}
.coaches-swiper{
    height: 600px;
}
.swiper-card-img{
    width: 400px;
    position: absolute;
    top: -12%;
    left: 50%;
    transform: translateX(-50%);
    /* height: 400px; */
}
.swiper-second-img{
    width: 333px;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 42px;
}
.swiper-second-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.swiper-card{
    width: 592px !important;
    position: relative;
    height: 452px;
    background: var(--slider-color);
}
.swiper-card-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.swiper-card-title{
    font-size: 16px;
    font-weight: bolder;
    color: var(--text-color);
    position: absolute;
    bottom: 20%;
    left: 18%;
    text-transform: uppercase;
}
.swiper-second-title{
      font-size: 16px;
    font-weight: bolder;
    color: var(--text-color);
    position: absolute;
    bottom: 0;
    left: 12%;
    text-transform: uppercase;
}
.swiper-last-title{
    font-size: 16px;
    font-weight: bolder;
    color: var(--text-color);
    position: absolute;
    bottom: 0;
    left: 10%;
    text-transform: uppercase;
}
.swiper-last-img{
    width: 373px;
    position: absolute;
    top: -18%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 42px;
}

.swiper-last-img>img{
     width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-para{
    font-size: 53px;
    font-weight: 300;
}
/* choose-sec */
.choose-sec{
    background: var(--secondary-color);
    padding: 26px 0;
}
.choose-header{
    color: var(--text-color);
}
.choose-sub-header{
    color: var(--text-color);
    margin-bottom: 80px;
}
.card-sub-title{
    font-size: 53px;
    position: relative;
}
.card-sub-title>span{
    font-size: 22px !important;
    position: absolute;
}
.card-body>ul>li{
    background: var(--slider-color) !important;
    border: none !important;
    outline: none !important;
    color: var(--text-color);
    padding: 0 !important;
    margin-bottom: 10px;
}
.choose-card{
    background: var(--slider-color);
    color: var(--text-color);
    width: 591.67px !important;
    margin-right: 24px;
    position: relative;
}
.list-group-item{
    max-width: 183px;
}
.card-title-img{
    width: 38px;
}
.card-title-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-img{
    max-width: 150px;
    position: absolute;
    right: -60px;
    top: 45%;
    transform: rotate(90deg);
}
.card-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.btn{
    margin: 0 auto;
   /* padding: 20px 199px !important; */
   width: 543px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--primary-color);
   color: var(--secondary-color);
   text-transform: uppercase;
}
.btn:hover{
    background: var(--slider-color);
    color: var(--text-color);
    outline: 2px solid var(--primary-color);
}
/* location-sec */
.location-sec{
    background: var(--secondary-color);
    padding: 26px 0;
}
.choose-header{
    display: flex;
    align-items: center;
}
.location-header>.title2{
    color: var(--text-color);
    margin-bottom: 0;
}
.location-cont>.title3{
    color: var(--text-color);
}
.location-cont>.title3>span{
    color: var(--primary-color);
}
.location-sub-cont{
    color: var(--text-color);
    border-right: 1px solid var(--text-color);
    font-size: 32px;
    font-weight: 500;
}
.col-10>p{
    color: var(--text-color);
}
.location-sub-img{
    width: 156px;
}
.location-sub-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.location-img{
    max-width: 1400px;
    margin: 0 auto;
}
.location-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.location-header{
    display: flex !important;
    align-items: center;
}
.header-img{
    width: 26px;
    margin-right: 15px;
}
.header-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header-sub-img{
    width: 77.65px;
    margin-left: 24px;
}
.header-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* real-sec */
.real-sec{
    background: url(../fitnessimg/09.\ \(2\).png)no-repeat center/cover;
    min-height: 70vh;
    position: relative;
    padding: 26px 0;
}
.real-img{
    max-width: 678px;
    height: 898px;
    position: absolute;
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
}
.real-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.real-cont{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    width: 100%;
    text-align: center;
}
.real-cont>.title4{
    color: var(--text-color);
}
.real-cont>.title4>span{
    font-size: 73px !important;
    color: var(--primary-color);
}
.real-cont>p{
    font-size: 34px;
    color: var(--text-color);
    max-width: 1000px;
    font-weight: 500;
    margin: 126px auto 0;
}
/* fooer-sec */
.footer-sec{
    background: var(--secondary-color);
    padding: 15px 0;
}
.social-link{
    color: var(--text-color);
}
.social-list>ul{
    padding: 0;
}
.footer-header{
    font-size: 42px;
    font-weight: 500;
    color: var(--text-color);
}
.footer-img{
    max-width: 500px;
    margin-left: auto;
    margin-bottom: 70px;
}
.footer-img>a{
    width: 100%;
}
.footer-img>a>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-list,
.footer-list>ul{
    display: flex;
    align-items: center;
}
.footer-list>ul>li{
    padding: 0 20px;
    border-right: 1px solid var(--text-color);
}
.footer-list>ul{
    margin-left: auto;
}
.footer-link{
    color: var(--text-color);
    position: relative;
}
.last-link{
    padding: 0 0 0 20px !important;
    border: none !important;
}
.footer-link::after{
  content: '';
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: -10px;
  background: var(--text-color);
  left: 50%;
  transform: translateX(-50%);display: none;
}
.footer-link:hover::after{
    display: block;
}
.footer-sub-header{
    font-size: 53px;
    font-weight: 500;
    color: var(--text-color);
}
.footer-cont>p{
   font-size: 20px;
   font-weight: 500;
   color: var(--text-color);
   max-width: 500px;
   margin-top: 15px;
}
.email{
    outline: none;
    border: none;
    background: var(--slider-color);
    margin-left: 54px;
}
.email-cont{
    max-width: 860px;
     border-radius: 116px;
     background: var(--slider-color);
     height: 125px;
     display: flex;
    
     align-items: center;
     /* margin-left: auto; */
}
.footer-btn{
   width: 319px;
   height: 77px;
   display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 0, 0.4);
    border-radius: 37.5px;
    color: var(--primary-color);
    margin-left: auto;
    margin-right: 24px;
}


@media screen and (max-width:1800px){
    .choose-card{
        width: 500px !important;
    }
    .btn{
        width: 450px;
    }
}
@media screen and (max-width:1600px){
    .choose-card{
        width: 450px !important;
    }
    .btn{
        width: 400px;
    }
}
@media screen and (max-width:1500px){
    .nav-item{
        padding: 10px;
    }
}

@media screen and (max-width:1400px){
    .navbar-nav,
    .navbar-nav>li,
    .cart-img{
       text-align: center;
       margin: 0 auto;
    }
    .d-flex{
        width: 324px !important;
        margin: 0 auto;
    }
    .offcanvas-header{
        margin-left: auto;
    }
    .offcanvas{
        flex-direction: column;
    }
     .choose-card{
        margin: 10px auto !important;
    }
    
    .footer-list>ul>li{
        padding: 0 15px;
    }
    .cart-img{
        margin: 10px 0;
    }
}
@media screen and (max-width:1200px){
    .title1{
        font-size: 60px;
    }
    /* .footer-btn{
        margin-left: 302px;
    } */
    .footer-img{
       margin-right: auto;
       margin-left: 0;
    }
    .footer-list>ul{
        margin-right: auto;
        margin-left: 0;
        padding: 0;
    }
   .real-img{
    top: -140px ;
   }
   .location-sub-img{
    width: 90px;
   }
   .location-sub-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   }
   .location-sub-cont{
    font-size: 24px;
   }
}
@media screen and (max-width:992px){
    .title1{
        font-size: 50px;
    }
    /* .footer-btn{
        margin-left: 302px;
    } */
     .call-para{
        font-size: 24px;
    }
    .real-cont{
        top: 35%;
    }
    .title4{
        font-size: 30px;
    }
    .real-cont>.title4>span{
        font-size: 50px !important;
    }
    .real-cont>p{
        font-size: 20px;
    }
    .swiper-slide{
        height: 200 !important;
    }
    .slider-card{
        height: 200px !important;
    }
    .swiper{
        height: 200px !important;
    }
    .slider-card-img{
        width: 100px !important;
    }
    .slider-img-last{
        width: 200px !important;
    }
    .slider-img-last>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .swiper-card{
        height: 200px;
    }
    .swiper-card-img{
        width: 200px;
    }
    .swiper-second-img{
        width: 150px;
        top: -40%;
    }
    .swiper-last-img{
        width: 150px;
        top: -40%;
    }
    .coaches-swiper{
        position: relative;
    }
    .swiper-pagination{
        position: absolute;
       top: 100% !important;
    }
    .title3{
        font-size: 34px;
    }
    .gym-img{
        max-width: 6500px;
    }
}

@media screen and (max-width:768px) {
    .swiper{
        height: 200px;
    }
    .col-10>p{
        font-size: 12px;
    }
    .gym-header>.title2{
        max-width: 315px;
        text-align: center;
    }
    .call-para{
        font-size: 16px;
    }
    .footer-btn{
        margin-left: auto;
        max-width: 200px;
        margin-right: 15px;
    }
    .real-cont{
        top: 40%;
    }
    .location-sub-img{
       width: 70px;
    }
    .location-sub-img>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .location-sub-cont{
        font-size: 16px;
    }
    .location-cont>.title3{
        font-size: 34px;
    }
   
    .choose-card{
        margin: 10px auto !important;
    }
    .location-header>.title2{
        font-size: 20px;
    }
    .card{
        margin: 10px auto;
    }
    .footer-list>ul>li{
        padding: 10px;
    }
    .title3{
        font-size: 26px;
    }
}
@media screen and (max-width:568px){
    .footer-btn{
        margin-left: auto;
        max-width: 200px;
    }
    .real-cont{
        top: 30% !important;
    }
    .location-sub-img{
       width: 40px;
    }
    .location-sub-img>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .location-sub-cont{
        font-size: 10px;
    }
    .location-cont>.title3{
        font-size: 25px;
    }
     .location-header>.title2{
        font-size: 16px;
    }
    .footer-list>ul>li{
        padding: 5px;
    }
    .choose-card{
        width: 350px !important;
    }
    .btn{
        width: 300px;
    }
}
@media screen and (max-width:480px){
    .choose-card{
        width: 250px !important;
    }
    .btn{
        width: 200px;
    }
}